/* ------------------ General ------------------ */
h4 {
    text-align: left;
    text-transform: uppercase;
}

/* ------------------ Header ------------------ */
#title {
    background-color: #e9eef2;
    padding: 25px;
}

/* ------------------ Comparison Section ------------------ */
#compare-section {
    padding: 25px;
}

.card {
    padding: 20px;
}

.item {
    margin: 6px;
}

.item h5 {
    color: #333738;
}

#description {
    float: left;
}

#buttons {
    float: right;
}

.col-form-label {
    text-align: right;
}

.required:after { 
    color: #cf1541;
    content: "*";
}

#compare-button {
    background-color: #4d6b20;
    border: #4d6b20;
}

/* ------------------ Search History Section ------------------ */

#search-history {
    background: #e9eef2;
    padding: 25px;
    font-size: 14px;
}

#search-text {
    width: 40%;
}

#search-history button {
    width:53px;
}

